DEBUG=1
SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgresql://postgres_admin:change-me@172.27.80.15:5432/DataTank

PROXMOX_BASE_URL=https://proxmox.example/api
PROXMOX_TOKEN_ID=user@pve!token
PROXMOX_TOKEN_SECRET=replace-me
PROXMOX_TLS_VERIFY=0
PROXMOX_NODE=pve
PROXMOX_STORAGE_POOL=local-lvm
PROXMOX_ISO_STORAGE_POOL=local

AD_LDAP_HOST=ad.example.local
AD_LDAP_PORT=389
AD_LDAP_USE_SSL=0
AD_LDAP_CONNECT_TIMEOUT=1
AD_UPN_SUFFIX=example.local
AD_BASE_DN=DC=example,DC=local

TEMPLATE_CREATION_POLICY=faculty_only
TEMPLATE_BUILD_WORKDIR=/var/lib/capstone/jobs
TEMPLATE_BUILD_POLL_SECONDS=5
TEMPLATE_BUILD_MAX_TIMEOUT_SEC=10800
TEMPLATE_BUILD_HEARTBEAT_SECONDS=15
TEMPLATE_BUILD_STALE_AFTER_SECONDS=900
TEMPLATE_BUILD_CONCURRENCY=1
TEMPLATE_BUILD_DEV_BYPASS=0
PACKER_BIN=/usr/bin/packer
PACKER_ISO_TOOL=xorriso
PACKER_CACHE_DIR=/mnt/capstone-nas/Templates/packer-cache
PACKER_PROXMOX_PLUGIN_SOURCE=github.com/hashicorp/proxmox
PACKER_PROXMOX_PLUGIN_VERSION=>= 1.1.0
PACKER_NAS_ROOT=/mnt/capstone-nas
PACKER_NAS_ARCHIVE_DIR=/mnt/capstone-nas/Templates/archives
APP_USERDATA_DIR=/mnt/capstone-nas/UserData
PACKER_JOBS_HOST_PATH=/srv/capstone/packer-jobs
PACKER_NAS_HOST_PATH=/mnt/capstone-nas
ALLOW_PRIVATE_TEMPLATE_ASSET_URLS=1
RUN_COLLECTSTATIC=1
